<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>logo</string>
			<key>CFBundleURLName</key>
			<string>com.tapshield.TapShield</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb412321438904850</string>
				<string>com.tapshield.TapShield</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.TapShieldLLC.TapShield</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.TapShieldLLC.TapShield</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.327853480652-ieiue0016kr5os8b1u76cbosl6dg6sn6</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.327853480652-ieiue0016kr5os8b1u76cbosl6dg6sn6</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.622288665026-bp456nkpcfsc2146f2ogodnljrq74pnh</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.622288665026-bp456nkpcfsc2146f2ogodnljrq74pnh</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>876</string>
	<key>FacebookAppID</key>
	<string>412321438904850</string>
	<key>FacebookDisplayName</key>
	<string>TapShield</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>amazonaws.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>amazonaws.com.cn</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>TapShield will only share your location with authorities during an emergency alert.</string>
	<key>NSPrincipalClass</key>
	<string>TSApplication</string>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>VLLGKmotEFAuKeEBojQaA</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>5yoX6vJoc7JmDrgo3HkhZfmCoWlKv9fR4SPCTBbcCo</string>
	<key>UIAppFonts</key>
	<array>
		<string>Raleway-Thin.otf</string>
		<string>Raleway-SemiBold.otf</string>
		<string>Raleway-Regular.otf</string>
		<string>Raleway-Medium.otf</string>
		<string>Raleway-Light.otf</string>
		<string>Raleway-Heavy.otf</string>
		<string>Raleway-ExtraLight.otf</string>
		<string>Raleway-ExtraBold.otf</string>
		<string>Raleway-Bold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>location-services</string>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fbapi20130214</string>
        <string>fbapi20130410</string>
        <string>fbapi20130702</string>
        <string>fbapi20131010</string>
        <string>fbapi20131219</string>
        <string>fbapi20140410</string>
        <string>fbapi20140116</string>
        <string>fbapi20150313</string>
        <string>fbapi20150629</string>
        <string>fbauth</string>
        <string>fbauth2</string>
        <string>fb-messenger-api20140430</string>
    </array>
</dict>
</plist>
